<!DOCTYPE html>

<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>TÍTULO DO ARTIGO</title>

<link rel="stylesheet"
href="../../css/style.css">

</head>

<body>

<div class="hero">

<img src="../../img/banner.png">

</div>

<div class="conteudo">

<span class="categoria">

FORENSE DIGITAL

</span>

<h1>

TÍTULO DO ARTIGO

</h1>

<h2>

Subtítulo do artigo.

</h2>

<div class="meta">

<span>

📅 13/06/2026

</span>

<span>

📖 10 minutos

</span>

</div>

<div class="autor">

Carlos Renato Vilas Boas da Silva

</div>

<div class="tags">

<span>Forense</span>

<span>Linux</span>

<span>Autopsy</span>

</div>

<section>

<h3>

Resumo

</h3>

<p>

Resumo do artigo.

</p>

</section>

<section>

<h3>

Introdução

</h3>

<p>

Texto.

</p>

</section>

<section>

<h3>

Objetivo

</h3>

<p>

Texto.

</p>

</section>

<section>

<h3>

Metodologia

</h3>

<p>

Texto.

</p>

</section>

<section>

<h3>

Resultados

</h3>

<p>

Texto.

</p>

</section>

<section>

<h3>

Conclusão

</h3>

<p>

Texto.

</p>

</section>

<footer>

<hr>

<h3>

Sobre o autor

</h3>

<p>

Consultor e Instrutor em
Cybersecurity,
Linux,
Pentest,
Monitoring e
Investigação Forense.

</p>

</footer>

</div>

</body>

</html>
